<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test-class Suite" parallel="classes" thread-count="2" >
  <test name="EmulatorAndroid">
  	 <parameter name="platform" value="android"></parameter>
  	 <parameter name="mobileType" value="Nexus 6"></parameter>
	 <parameter name="gridIp" value="127.0.0.1:4729"></parameter>
   		<classes>
 	  		 <class name="android.androidCalculadora"></class>
		</classes>
  </test>
</suite>   